body{
    background-color:#000!important;
    margin:0;
    height:100%;
}
.logo_a{
    width:30%;
     height:30%;
     position:absolute;
     top:10%;
     left:34%;
     z-index:1010;
}
.player_img{
    display:table-cell;
    align-content:center;
    border:0px solid #000000;
    box-shadow: 3px 3px 15px #373737;
    overflow:hidden;
    margin:10px;
    border-radius:10px;
    -moz-border-radius:15px; /* Old Firefox */
    z-index:2012;
    cursor:pointer;
}
.player_img p{
    width:100%;
    color:#fff;    
    line-height:2.4rem;
    text-align:center;
    padding-top:5px;
    font-size:1.5rem;
    background-color:#353535;
    position:relative;
    top:0;
    left:auto;
    z-index:inherit;
}
.player_img img{
    position:relative;
    width:100%;
    height:100%;
    z-index:1999;
}
#videoBox{
     align-content:center;
    margin:0;
    z-index:1001;
    display:block;
}
#video1{
    margin:0;
    z-index:1000;
    display:block;
}
#shade{
        width:100%;
    height:100%;
    background-color:#373737;
    position:fixed;
    top:0;
    left:0;
    z-index:1002;
    opacity:0.4;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    /*display:none;*/
}
#player_list{
    z-index:2002;
    position:absolute;
     box-shadow: 3px 3px 15px #373737;
    overflow:hidden;
    /*opacity:0.6;*/
      vertical-align: middle;
  /*display: table-cell;*/
    padding:15px;
    border-radius:5px;
    -moz-border-radius:15px; /* Old Firefox */
    background-color:rgba(0,0,0,0.5);
    width:60%;
    top:50%;
    left:20%;
}
#player_list>p{
      width:100%;
      text-align:center;
      line-height:3rem;
      font-size:2rem;
      color:#fff;
}
#player_info {
    display:none;
    width:600px;
    height:600px;
    padding:10px;
    overflow-y:auto;
}
.table_info{
    border:0px;
    width:100%;
    height:100%;
    line-height:28px;
    text-align:center;
    }
.table_info_row
    {
       background-color:rgb(128, 128, 128);
       color:#fff;
    }
footer{
    z-index:1003;
    text-align:center;
    background-color:#000;
    color:#fff;
    margin:30px;
}
