body {
    background-color:#e9e9e9;
}

    .form-display{
        margin:10px 30px;
    }
    .user-container{
        margin-top:200px;
    }
    .form-horizontal{
        background-color:#ffffff
    }
