
@{
    ViewBag.Title = "DOTA2Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Css/Page/Game/DOTA2Index.css" rel="stylesheet" />
<script src="~/Content/chart/chartjs2.7.js"></script>
<script src="~/Content/chart/t.js"></script>
<script src="~/Scripts/pages/Game/DOTA2/DOTA2Index.js"></script>
@*<script src="~/Content/chart/chart.js"></script>*@
@*<img src="//game.gtimg.cn/images/pubg/act/a20171114feature/logo_b.png" width="100%" height="100%">*@
<!--  遮罩层 -->
<div id="shade">
</div>
<!-- 视频层 -->
<div id="videoBox" class="">

    <h2 class="">
        <img class="logo_a" src="//www.dota2.com.cn/images/cover20170914/logo.png">
    </h2>
    <video id="video1" class="video" src="http://gamevideo.wmupd.com/dota2media/media/2018dactop.mp4" autoplay="" loop="loop"></video>
    <img  src="//www.dota2.com.cn/dac/2018/images/bg-section2.jpg">
</div>
<div id="player_list">
    <p>P L A Y E R</p>
    <div  class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('144312768');">
        <img id="WYH_img" src="~/Content/img/player/RubickLee.png" />
        <p id="WYH"> 王一航</p>
    </div>
    <div class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('149124767');">
        <img id="LSY_img" src="~/Content/img/player/RubickLee.png" />
        <p id="LSY" > RubickLee</p>
    </div>
    <div class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('142159854');">
        <img  id="WHZ_img" src="~/Content/img/player/pudge.png" />
        <p  id="WHZ"> PUDGE</p>
    </div>
    <div class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('205525701');">
        <img  id="XK_img" src="~/Content/img/player/RubickLee.png" />
        <p  id="XK"> Xkkkkk</p>
    </div>
    <div class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('115182805');">
        <img  id="YMY_img"  src="~/Content/img/player/RubickLee.png" />
        <p  id="YMY" > ming_001</p>
    </div>

    <div  class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('144937212');">
        <img id="HUA_img" src="~/Content/img/player/RubickLee.png" />
        <p id="HUA"> hua20091210</p>
    </div>

    <div class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('143733878');">
        <img  id="MSH_img" src="~/Content/img/player/RubickLee.png" />
        <p  id="MSH"> MSH1993</p>
    </div>
    <div id="EarthShaker" class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('197901883');">
        <img src="~/Content/img/player/RubickLee.png" />
        <p id="MSH_img"> EarthShaker</p>
    </div>
    <div id="Chen" class="player_img  layui-col-xs4 layui-col-sm4 layui-col-md1" onclick="javascript: loadNameMatch('1724633154');">
        <img src="~/Content/img/player/RubickLee.png" />
        <p> 教练.Chen</p>
    </div>
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - MoreCreative   </p>
</footer>
<div id="player_info">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">平均数据</li>
            <li>最近战局</li>
            <li>历史最佳</li>
            <li>我的队友</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--  平均数据  -->
                <div class="layui-collapse">
                    <div class="layui-colla-item">

                        <h2 class="layui-colla-title">生涯平均数据</h2>
                        <div class="layui-colla-content layui-show">
                            <table id="career_average" class="table_info"></table>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">最近比赛数据[点击标签可以筛选]</h2>
                        <div class="layui-colla-content layui-show">
                            <canvas id="match_radar" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <!--  最近战局  -->
                <table id="history_match" class="table_info">
                    <tr class="table_info_row">
                        <td>英雄</td>
                        <td>模式</td>
                        <td>Level</td>
                        <td>KDA</td>
                        <td>结果</td>
                        <td>时间</td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item">
                <!--  历史最佳  -->
                <table id="history_max" class="table_info">
                    <tr class="table_info_row">
                        <td>英雄</td>
                        <td>类型</td>
                        <td>记录</td>
                        <td>战绩</td>
                        <td>时间</td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item">
                <!--  我的队友  -->
            </div>
        </div>
    </div>

    <script>
//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;

  //…
});
    </script>

</div>
