
@{
    ViewBag.Title = "MatchManage";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<table id="demo" ></table>

<table id="demo2"></table>
<script>
layui.use('table', function(){
  var table = layui.table;
  var laypage = layui.laypage;
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 315
    , url: 'GetMatchManageList' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'ID', title: 'ID', width:80}
      ,{field: 'Name', title: '名称', width:300}
      ,{field: 'Odds', title: '奖金', width:80}
      ,{field: 'OffTimeDis', title: '截止时间', width:150}
      ,{field: 'Status', title: '状态', width: 80}
      ,{field: 'Results', title: '结果', width: 80,}
      , { field: 'OP', title: '操作', width: 120 }
    ]]
  });

  table.render({
      elem: '#demo2'
    , height: 500
    , url: 'GetNewMatchInfo' //数据接口
        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
            ,curr: 1 //设定初始在第 5 页
      , groups: 1 //只显示 1 个连续页码
      , first: false //不显示首页
      , last: false //不显示尾页

        }
    , cols: [[ //表头
      { field: 'Name', title: '名称', width: 300 }
      , { field: 'OffTimeDis', title: '截止时间', width: 150 }
      , { field: 'Status', title: '状态', width: 80 }
      , { field: 'OP', title: '操作', width: 120 }
    ]]
  });
  laypage.render({
      elem: '#demo2'
, count: 10 //数据总数  
  });

});

function GO(ID,R) {
    $.ajax({
        method: "POST",
        url: "MatchFinish",
        data: {
            ID: ID,
            Result:R
        },
        success: function (data) {
            if(data.s=="ok"){
                alert("ok");
            } else {
                alert("error");
            }
        }

    });
}
function GO2(Name,P1,P2,Time) {
    window.open('AddMatch?Name=' + Name + "&P1=" + P1 + "&P2=" + P2 + "&Time=" + Time);
};
</script>