@using SHBTONLINE.Models.SystemModel;
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Scripts/pages/main.js"></script>
<style>
    #content>p{
        line-height:30px;
    }
    p.content {
        padding:5px;
    }
</style>


<div id="content" style="text-align:center;margin-top:20%">
    <p class="content">SHBT   一个游走于全国的神秘组织</p>
    <p class="content"> 点击上方菜单查看他们最近在干什么</p>
    <p class="content"> 该网站为编程学习使用，不保证内容的真实性，加入组织请在游戏ID前加入SHBT字样即可</p>


</div>
@if (SessionManager.Instance.UserInfoSession != null && !string.IsNullOrEmpty(SessionManager.Instance.UserInfoSession.userName)&&ViewBag.isload==0)
{
    <script>
        //parent.location.reload();
        top.document.location.href = 'http://localhost:64652/Home/Index?load=1';
    </script>
}
<hr />
<footer style="text-align:center">
    <p>&copy; @DateTime.Now.Year - MoreCreative   </p>
</footer>