
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Scripts/pages/main.js"></script>
<div id="content" style="text-align:center;margin-top:300px">
    <p>SHBT   一个游走于全国的神秘组织</p>

    <p> 点击上方菜单查看他们最近在干什么</p>
    <p> 该网站为编程学习使用，不保证内容的真实性，加入组织请在游戏ID前加入SHBT字样即可</p>


</div>
<hr />
<footer style="text-align:center">
    <p>&copy; @DateTime.Now.Year - MoreCreative   </p>
</footer>