body{
    background-color:#000!important;
    margin:0;
    height:100%;
}
.logo_a{
    width:30%;
     height:30%;
     position:absolute;
     top:10%;
     left:34%;
     z-index:1010;
}
.player_img{
    display:inline-block;
    align-content:center;
    border:0px solid #000000;
  vertical-align: middle;
      box-shadow: 3px 3px 15px #373737;
    overflow:hidden;
    margin:10px;
    border-radius:10px;
    -moz-border-radius:15px; /* Old Firefox */
    z-index:2012;
    cursor:pointer;
    height:100%;
}
/*&:before{
    padding-bottom: 100%;
    width: .1px;
}*/
.player_img p{
    width:100%;
    color:#fff;    
    line-height:2.4rem;
    text-align:center;
    padding-top:5px;
    font-size:1.2rem;
    background-color:#000;
    position:absolute;
    bottom:0;
    left:auto;
    opacity:0.5;
    z-index:2000;
}
.player_img img{
    position:relative;
    width:100%;
    /*top:0;*/
    left:0;
    margin:3px;
    bottom:0px;

    z-index:1999;
}
#shape{
    stroke-width:6px;
    fill:transparent;
    stroke:#009FFD;
    stroke-dasharray:85 150;
    stroke-dashoffset:-220;
    transition:1s all ease;
    z-index:2100;
}
.player_img:hover #shape{
    stroke-dasharray:20 0;
    stroke-width:3px;
    stroke-dashoffset:0;
    stroke:#06D6A0;
    z-index:1900;
}
/*.player{
    position:absolute;
}*/
#videoBox{
     align-content:center;
    margin:0;
    z-index:1001;
    display:block;
}
#video1{
    margin:0;
    z-index:1000;
    display:block;
}
#shade{
    width:100%;
    height:100%;
    background-color:#373737;
    position:fixed;
    top:0;
    left:0;
    z-index:1002;
    opacity:0.4;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    /*display:none;*/
}
#player_list{
    z-index:2002;
    position:absolute;
     box-shadow: 3px 3px 15px #373737;
    overflow:hidden;
    /*opacity:0.6;*/
    padding:15px;
    border-radius:5px;
    -moz-border-radius:15px; /* Old Firefox */
    background-color:rgba(0,0,0,0.5);
    width:60%;
    /*height:100%;*/
    top:50%;
    left:20%;
}
#player_list>p{
      width:100%;
      text-align:center;
      line-height:3rem;
      font-size:2rem;
      color:#fff;
}
#player_info {
    display:none;
    width:600px;
    padding:10px;
    overflow-y:auto;
}
.table_info{
    border:0px;
    width:100%;
    height:100%;
    text-align:center;
    }
footer{
    z-index:1003;
    text-align:center;
    background-color:#000;
    color:#fff;
    margin:30px;
}
.inventory{
    width:100%;
    height:100%;
    position:relative;
}
.inventory>p{
    position:absolute;
    bottom:0;
    right:0;
}
