
@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Scripts/pages/Game/Pubg/PubgIndex.js"></script>
<link href="~/Content/Page/Game/PubgIndex.css" rel="stylesheet" />
@*<img src="//game.gtimg.cn/images/pubg/act/a20171114feature/logo_b.png" width="100%" height="100%">*@

<!--  遮罩层 -->
<div id="shade">
</div>
<!-- 视频层 -->
<div id="videoBox" >

    <h2 class="">
        <img class="logo_a" src="//game.gtimg.cn/images/pubg/act/a20171114feature/logo_b.png" >
    </h2>
    <video id="video1" class="video" src="http://videooc.tc.qq.com/vcloud1022.tc.qq.com/1022_a4a7a8041ed64eddb2465d8ea5c9bc45.f0.mp4?vkey=C622D64FCC2AEFC977BDA88986E451D30696B6119F69D46265E078A459B071F21A50BB853F8FA6E3C75D8DB769C7B52ABA52911B178E156ADAAF8A868EA7D8A3BDC127E72CC8ADA62ADD60B8A39FD39AFA0BC7329D6AE0B9&amp;sha=0" autoplay="" loop=""></video>
</div>

<footer >
    <p>&copy; @DateTime.Now.Year - MoreCreative   </p>
</footer>